.container{
    background-color: rgb(10, 10, 10);
    color: aliceblue;
    
}

.cover{
    height: 33rem;
}

.card-back{
    height: 31rem;
    width: 100%;
    max-width: 380px;
}

.lottie-wrap{
    height: 33rem;
    
    width: auto;
    max-width: 33rem;
    position: absolute;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
