.skill {
    color: aliceblue;
    background-color: rgb(15, 15, 15) ;
}
.skill-img{
    transform: translateZ(60px);
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 10px;
    transform-style: preserve-3d;
}

.img {
    padding: 0%;
    margin: 0%;
    
}

.img-parent{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-items: center;
}

.skil-card{
    /* @apply  bg-purple w-32 h-32 px-4 pb-4 justify-center items-center flex rounded-2xl mx-4   ; */
    /* background-color: #3f3cbb; */
    /* background-color: #2f6fd6;  */
    @apply bg-[#2f6fd6] md:bg-[#3f3cbb] ;
    width: 8rem; 
    height: 8rem ;
    padding-inline: 20px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 16px;
    border: #0A0A0A;
    border-width: 1px;
    border-style: solid;
    margin: 15px;
    /* transform-style: preserve-3d; */
    filter: drop-shadow(2px 4px 4px rgb(3, 57, 110)) ;
    transform: translateZ(40px);
}


.skill-line{
    width: 5px; 
    height: 200px;
    margin-left: 7px;
    background-color: #3f97f0;
    background-image: linear-gradient(#3f97f0, rgb(10, 10, 10));
}

.parallax-effect-glare-scale{
    transform-style: preserve-3d;

}
